streamlit
scikit-learn
pandas
joblib
numpy
matplotlib
openpyxl
nltk
textblob
scipy
contractions
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
